* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efefef ;
    font-family: sans-serif;
}

.profile-img {
    width: 30%;
    float: right;
}

    .profile-img img {
        height: 50%;
    }

.about {
    margin-left: 15px;
}

.profile-info {
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .profile-info::-webkit-scrollbar {
        width: 0px;
    }

    .profile-info h1 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

.social-media img {
    height: 30px;
    margin-right: 15px;
}

.social-media {
    margin-top: 20px;
    margin-left: 15px;
}

.profile-info h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill {
    background-color: #f0fffb;
    display: inline-block;
    width: 28%;
    height: 200px;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.18);
}

    .skill img {
        height: 30%;
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .skill small {
        padding-top: 10px;
        display: block;
    }

.project img {
    width: 10%;
    padding: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.project project1 {
    text-align: center;
}

.form-box {
    margin-top: 30px;
}

.input-group input {
    width: 45%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    display: inline-block;
    background: white;
}

.text-area textarea {
    width: 95%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    background: white;
}

.submit-btn {
    border: 0;
    outline: none !important;
    padding: 10px 20px;
    margin: 2%;
    background: #2ab0ff;
    cursor: pointer;
    color: white;
}

.contact img {
    width: 20px;
    margin: -5px 10px;
}

.contact span {
    margin: 5%;
}

.contact {
    margin: 5% 0 5% 25%;
    width: 85%;
}

.copyright {
    text-align: center;
    margin-bottom:20px;
}

@media only screen and (max-width:900px)
{
    .profile-info
    {
        width:100%;
        overflow: inherit;
    }
    .profile-img
    {
        width: 100%;
    }
    .skill
    {
        width: 95%;
        margin-bottom:10%;
    }
    .skill img
    {
        height: 8%;
        margin: 10px;
    }
    .project img
    {
        width: 47%;
    }
    span 
    {
        display:block;
    }
}
