* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxygen, sans-serif !important;
    
}
html {
    overflow-x:hidden;
}

body {
    background-image: url("images/betterstickerbomb.jpg");
    width:100%;
    overflow-x:hidden;
}


.profile-info {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 60px;
    margin: 30px;
    width: auto;
    background-color: white;
}

.profile-info > h1 {
    font-size: 60px;
}

.about {
    font-size: 30px;
}

.projects{
    margin: 0px 30px 30px;
    background-color: white;
}
.work {
    margin: 0 30px 30px;
    background-color: white;
}
.github_logo{
    max-width:50%;
    margin: auto;
}
.stack_logo{
    max-width: 80%;
    margin: auto;
}
.accomplishment {
    margin-right:auto;
    margin-left:auto;
    align-items:center;
    align-content:center;
    padding: 30px;
    margin: 30px;
    background-color: #fefefeeb;
}

.contact img {
    width: 4%;
    margin-right:5px;
}

.contact span {
    margin: 5%;
}

.contact {
    background-color: black;
    min-height: 30vh;
    margin: 0 30px;
    color: white;
    padding: 50px;
}

h2 {
    padding: 30px 60px;
    font-size: xx-large;
    background-color: white;
    margin: 30px 30px 0;
    box-shadow: 0 0 3px #ccc;
}

.vercard {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    background-color: white;
    margin: 0 0px 10px 0;
    text-align: center;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}
.vercard > h3 {
    text-align: center;
}

.vercard_wide {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    background-color: white;
    margin: 0 0px 10px 0;
    text-align: center;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}
.vercard_wide > h3 {
    text-align: center;
}

#biosbmc {
    background-color: #501248;
    color: white;
}
#paperfolding {
    background-color: rgb(5, 81, 82);
    color: white;
}
#ndhuwebscraper {
    background-color: #c8f7b1;
    color: black;
}
#data_ass {
    background-color: #ff4500;
    color: white;
}
#netapp_sdet {
    border-color: #0078c1;
}
#netapp_sdet_head {
    background-color: #0078c1;
    color: white;
}
#ficus_swe {
    border-color: #ffad26;
}
#ficus_swe_head  {
    background-color: #ffd85d;
    color: #06386b;
}
#ndhu_ta {
    border-color: #006c3c;
}
#ta_head {
    background-color: #006c3c;
    color: white;
}
#ndhu_translator {
    border-color: #006c3c;
}
#heavy_squats {
    background-color: #b42e40;
    color: white;
}
#heavy_deadlifts {
    background-color: #56575f;
    color: white;
}
.work-experience {
    padding: 30px;
}

.job {
    padding: 0 60px 20px;
}

.vercard_wide > * > img {
    width: 100%;
    padding: 30px 60px;
}
.vercard > * > img{
    width: 60%;
    padding: 10px;
}


.accomplishment img
{
    width:100%;
    height:auto;
    padding:50px;
    margin-right:auto;
    margin-left:auto;
    background-color:white;
}

@media only screen and (max-width:1300px)
{
    body{
        overflow-x:hidden !important;
        width:100%;
        padding: 0;
        margin: 0;
    }
    .profile-info
    {
        margin: 30px 0 30px 0;
        padding: 10px;
        overflow: inherit;
        width: 100%;
    }
    span 
    {
        display:block;
    }
    .projects {
        margin:20px 0;
        padding:0;
        background-color: rgba(255, 255, 255, 0.684);
        width: 100%;
    }
    .work {
        margin: 20px 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.684);
        width: 100%;
    }
    .vercard {
        display: block;
        float: center;
        width: 100%;
        background-color: white;
        text-align: center;
    }
    .vercard > .thumbnail {
        margin: auto;
        width: 100%;
    }
    .vercard > .job {
        padding: 0 20px 20px;
    }
    .vercard > .thumbnail > img {
        padding: 10px;
        width: 30%;
        height: auto;
    }
    .work-experience > h3 {
        text-align: center;
    }

    .vercard_wide {
        display: block;
        float: center;
        width: 100%;
        background-color: white;
        text-align: center;
    }
    .vercard_wide > h3 {
        text-align: center;
    }

    .vercard_wide > .thumbnail > img{
        width: 100%;
        padding: 0 0 20px 0;
    }
    .accomplishment img {
        padding:5px;
    }
    
    .contact {
        background-color: black;
        min-height: 10vh;
        margin: 0 30px;
        color: white;
        padding: 50px;
    }
    .vercard > p {
        padding-bottom: 10px;
    }
}
