* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif !important;
    overflow-x:hidden;
}
html {
    overflow-x:hidden;
}
.nav-links {
    display:flex;
    justify-content:space-around;
    width:30%;
}

.nav-links li {
    list-style:none;
}

.nav-links a {
    color:deeppink;
    text-decoration: none;
    letter-spacing:3px;
    font-weight:bold;
    font-size:14px;
}
.burger {
    display: none;
    cursor:pointer;
}
.burger div {
    width:25px;
    height:2px;
    background-color:deeppink;
    margin:2px;
    transition: all 0.3s ease;
}

body {
    background: rgb(240, 240, 240);
    width:100%;
    overflow-x:hidden;
}

.about {
    font-size: 1.3rem;
}

.profile-info {
    width: 90%;
    margin:auto;
    padding: 50px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .profile-info::-webkit-scrollbar {
        width: 0px;
    }

.sline {
    display: flex;
    height:30%;
    width: 100%;
    margin-bottom:20px;
    align-items:center;
}
.project{
    width:100%;
    padding:0px;
    margin:15px;
    height:auto;
    display:flex;
    justify-content:space-around;
    position:relative;
}
.image-container {
    position:relative;
}

.image-container img {
    width:300px;
    height:300px;
    padding:30px;
    background:white;
}

.fade::after {
    content: '';
    color: white;
    justify-content:center;
    align-items:center;
    display:flex;
    padding-left:5px;
    padding-right:10px;
    font-size:30px;
    background: deeppink;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 ;
    transition: opacity 0.5s ease;
}

.fade:hover::after {
    opacity: 0.8 ;
}

.f1::after {
    content: 'live video face recognition';
}

.f2::after {
    content: 'periodization algorithm for elite lifters';
    font-size:23px;
}

.f3::after {
    content: 'campus simulator';
}

.f4::after {
    content: 'mod-dev for Rocket League';
}

.bar {
    display: inline;
    float: left;
}

.contact img {
    width: 4%;
    margin-right:5px;
}

.contact span {
    margin: 5%;
}

.contact {
    margin: 5% 0 5% 25%;
    width: 85%;
}

.copyright {
    text-align: center;
    margin-bottom:4%;
}

h2 {
    text-decoration-line: underline;
    padding: 50px 0 10px;
    font-size: xx-large;
}

.vercard {
    display: inline;
    float: left;
    width: 20%;
    background-color: white;
    margin: 0 20px 20px 0;
    text-align: center;
}
.vercard > h3 {
    text-align: center;
}

.vercard_wide {
    display: inline;
    float: left;
    width: 30%;
    background-color: white;
    margin: 0 20px 20px 0;
    text-align: center;
}
.vercard_wide > h3 {
    text-align: center;
}

#biosbmc {
    background-color: #501248;
    color: white;
}
#paperfolding {
    background-color: black;
    color: white;
}
#ndhuwebscraper {
    background-color: #c8f7b1;
    color: black;
}
#netapp_sdet {
    border-color: #0078c1;
}
#netapp_sdet_head {
    background-color: #0078c1;
    color: white;
}
#ficus_swe {
    border-color: #ffad26;
}
#ficus_swe_head  {
    background-color: #ffd85d;
    color: #06386b;
}
#ndhu_ta {
    border-color: #006c3c;
}
#ta_head {
    background-color: #006c3c;
    color: white;
}
#ndhu_translator {
    border-color: #006c3c;
}

.work-experience {
    padding: 30px;
}

.job {
    padding: 0 20px 20px;
}

.thumbnail > img{
    width: 100%;
    padding: 30px;
}

.accomplishment {
    width:100%;
    margin-right:auto;
    margin-left:auto;
    align-items:center;
    align-content:center;
}

.accomplishment img
{
    width:100%;
    height:auto;
    padding:50px;
    margin-right:auto;
    margin-left:auto;
    background-color:white;
}

.accomplishment p {
    background-color: #fff;
    display: flex;
    width:100%;
    height:auto;
    padding:1rem;
    font-size:1rem;
    text-align: center;
    overflow-y: hidden;
}

@media only screen and (max-width:1300px)
{
    body{
        overflow-x:hidden !important;
        width:100%;
        padding-top: 50px;
    }
    .profile-info h1 {
        margin-top: 1%;
    }
    .profile-info
    {
        padding: 0;
        overflow: inherit;
    }
    .sline {
        max-height:18%;
    }
    .skill
    {
        max-width:30%;
        height:auto;
    }
    .skill img
    {
        margin: 0px;
        height:auto;
        width:auto;
        max-width:50%;
        max-height:50%;
    }
    span 
    {
        display:block;
    }
    .projects {
        margin:0;
        min-height:20%;
    }
    .image-container {
        width: 100%;
        min-height:20%;
        height: auto;
        position: relative;
        margin:1%;
    }

    .image-container img {
        width: 100%;
        height: auto;
        padding: 15px;
        background: white;
    }

    .vercard {
        display: inline;
        float: left;
        width: 100%;
        background-color: white;
        margin: 0;
        text-align: center;
    }
    .vercard > h3 {
        text-align: center;
    }

    .vercard_wide {
        display: inline;
        float: left;
        width: 100%;
        background-color: white;
        margin: 0 20px 20px 0;
        text-align: center;
    }
    .vercard_wide > h3 {
        text-align: center;
    }
    .accomplishment img {
        padding:5px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-2px,4px);
}
.toggle .line2 {
    opacity:0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-2px,-4px);
}